.np-lr{
	padding-left: 0px;
	padding-right: 0px;
}
.margiv-top-20{
	margin-top: 20px;
}
.padding-top-10{
	padding-top: 10px;
}
.padding-top-20{
	padding-top: 20px;
}
.table-thumb{
	width: 50px;
	height: 50px;
}
.nm-tb{
	margin-top: 0px;
	margin-bottom: 0px;
}
.reference-area{
	display: none;
}
.simple-list{
	list-style: none;
	padding-left: 0;
}
.margin-bottom-5{
	margin-bottom: 5px;
}
/*.dropdown-menu{
	z-index: 9999;
}*/
#my_datatable{
	padding-bottom: 100px;
}

.select2-selection{
	height: 34px !important;
	border: 1px solid #c2cad8 !important;
	width: 100% !important;
}

.select2-container{
	width: 100% !important;
}

.input-full{
	width: 100% !important;
}

.icon-btn-customized{
	height:auto;
	margin:0px;
	padding:0px;
	border:none;
	padding-right:15px;
	text-align:left;
	min-width:0px;
}

.badge-success {
    background-color: #36c6d3 !important;
}

.popover {
	width: 150px !important;
}

.product-summery-tbl{
	height: 150px;
	overflow: auto;
}

.page-content-wrapper .page-content{
	overflow: hidden;
}

.suborder_button{
	width: 100%;
	margin-bottom: 5px;
}

.suborder_button_add{
	width: 100%;
	margin-bottom: 5px;
}

.suborder_button_active{
	/*border: 5px solid green !important;*/
	box-shadow: 0px -3px 0px green inset !important;
}
.mt-element-step .step-background-thin .active {
    background-color: #b4bc8e !important;
}
.mt-element-step .step-background-thin .mt-step-content {
    padding-right: 0%;
    position: relative;
    text-align: center;
    z-index: 5;
}
.mt-element-step .step-background-thin .mt-step-title {
    font-size: 30px;
    font-weight: 100;
    padding-right:0%;
    position: relative;
    text-align: center;
    z-index: 5;
}